django>=1.5,<=1.6
git+git://github.com/django/django-localflavor-us.git@e81479b3a4679cf351abbfa0bf58a176f2052546#egg=django-localflavor-us
psycopg2==2.4.6
MySQL-python==1.2.4
dj-database-url==0.2.1
gunicorn==0.17.2
south==0.7.6
unipath==0.2.1
django-storages==1.1.7
boto==2.8.0
django-social-auth==0.7.22
pylibmc==1.2.2
django-pylibmc-sasl==0.2.4
ipython==0.13.1
simple-salesforce==0.51
git+git://github.com/neworganizing/django-actionkit@0b271d31897faf2ae32c6bc10b3966ccc68a8b2a#egg=django-actionkit
git+git://github.com/kromem/django-fields@9d523beaf99dd50735f730dc4ab64bf5a370af11#egg=django-fields
git+git://github.com/neworganizing/salesforce-oauth2@823883e35400473d57b675952a32d3b09462c981#egg=salesforce-oauth2